/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic Just Eat Brand colours. Change to using alias tokens if time */
:root {
    --orange: #ff8000;
    --dark-orange: #f36805;
    --gray: #f5f3f1;
    --black: #242e30;
}

/*
Load and use Just Eat's custom font, JETSansDigital, via their
Content Delivery Network (CDN) link (there's only a font file,
not a ready made CSS file)
*/

/* JETSansDigital font in Regular style */
@font-face {
    font-family: 'JETSansDigital';
    src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Regular-optimised.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* JETSansDigital font in bold style */
@font-face {
    font-family: 'JETSansDigital';
    src: url('https://d30v2pzvrfyzpo.cloudfront.net/fonts/JETSansDigital-Bold-optimised.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }


  /* General body styles */
body {
    /* Sets Arial as fallback font in case JETSansDigital fails to load */
    font-family: 'JETSansDigital', Arial, sans-serif;
    text-align: center;
    color: var(--black);
    padding: 20px;
}

p {
    padding: 10px;
}

/* Form input style */
input {
    min-width: 225px; /*Minimum width so all placeholder text will be visible */
    max-width: 100%; /* Ensures responsiveness */
    padding:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--black);
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

button {
    min-width: 80px; /*Minimum width so all placeholder text will be visible */
    max-width: 100%; /* Ensures responsiveness */
    padding:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--black);
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--orange);
}

button:hover {
    background-color: var(--dark-orange);
}

/*
Search button to give user visual feedback to
user when clicked.
*/
button:active {
    background-color: var(--dark-orange);
    box-shadow: 0px 2px 2px var(--black);
    transform: translateY(4px);
}



/* Header */
header {
    background-color: var(--orange);
}

/* Main content */
main {
    background-color:white;
}


/* Results - Restaurant cards */

.restaurantCard {
    min-width: 225px; /*Minimum width so all placeholder text will be visible */
    max-width: 100%; /* Ensures responsiveness */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--black);
    border-radius: 5px;
    background-color: var(--gray); /* To make card stand out slightly from background */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: var(--black);
}


/* Footer */
footer {
    background-color: var(--gray);
}

/* Vertically aligns and centers social media icons */
#socialMedia {
    text-align: center;
    padding: 20px 0; /* Add vertical breathing space between social media icons */
    display: flex; /* Flexbox spaces social media icons evenly along footer */
    justify-content: space-evenly;
    list-style-type: none; /* Remove bullet point icons from list */
}

/* Increase size of social media icon and change to brand color */
#socialMedia i {
    font-size: 160%;
    padding: 5%;
    color: var(--black);
}

#socialMedia i:hover {
    color: var(--dark-orange);
}