/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic Just Eat Brand colours. Change to using alias tokens if time */
:root {
    --orange: #ff8000;
    --dark-orange: #f36805;
    --gray: #f5f3f1;
    --black: #242e30;
}



/* Header */
header {
    background-color: var(--orange);
}

/* Main content */
main {
    background-color:white;
}


/* Footer */
footer {
    background-color: var(--gray);
}